*{
    margin:0;
    padding:0;
}
.nav{
    background-color:rgb(177, 28, 155);
    color:white;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:160px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}
.choice{
    width: 170px;
    height:160px;
    border-radius: 50%;
   margin-top:6rem;
}
#img1:hover{
border:4px solid rgb(144, 42, 78);
}
#img2:hover{
border:4px solid rgb(122, 14, 115);
}
#img3:hover{
border:4px solid rgb(47, 92, 163);
}
.choices{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:4rem;
}
.score{
display: flex;
justify-content: center;
align-items: center;
margin-top: 6rem;
gap:50px;
}
#user,#comp{
    font-size: 2.5rem;
    text-align: center;
}
.score p{
    font-size: 2rem;
}
span{
    margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg{
 font-size: 2rem;
       display: inline;
      border:3px solid black;
      color:rgb(177, 28, 155);
      border-radius: 4px;
      text-align: center;
      padding:0.5rem;
}